.note-container {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f9f9f9;
  max-width: 90%;
}

.album-cover {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}

.note-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.note-field {
  text-align: left;
  font-size: 14px;
  color: #333;
}

.delete-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #0056b3;
}
.delete-button:active {
  transform: scale(0.95);
}

  